@{
    ViewData["Title"] = "Startsidan";
}

<div class="text-center">
    <h1 class="display-4">Formula 1 - TeamApp</h1>
    <p>Detta är den officiella applikationen som används för att knyta förare till olika Formula1-teams.</p>
</div>
